body {
    background: #d3e471 url(https://blog.hdwallsource.com/wp-content/uploads/2016/02/patrick-star-15633-16111-hd-wallpapers.jpg) fixed; 
    background-size: 1530px auto;
     color: 	#000000;
     font-style: Garamond;  
}
h1, h2 { 
        text-align: center; 
        font-family: Geneva;
}

#header{
    width: 100%;
    height: 100px;    
    background-color: #16033f;  
    margin:0 auto;
    border: 5px double black; 
}
nav{
    display: flex;
    flex-direction: column;
    background-color: #16033f; 
    max-width:960px; 
    margin: 20px auto; 
    padding:10px; 
    align-items: center;
    border: 5px double black; 

}
#img1{
     float:left;
     margin:10px; 
     width:100px;     
     height:80px;
     alt:"Бикини Боттом";
}
.text1{
    padding:10px; 
    color: #ffee00;  
    font-style: italic;  
    font-size:30px;  
}
#content{
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width:960px; 
    margin: 10px auto; 
    padding:10px;
    border: 8px double black;
}

#hyperlinks {
    order: 1;
}
#forma {
    order: 2;
}
#table {
    order: 3;
    margin:20px; 
}
footer {
    order: 4;
}

table tr:nth-child(2n) td{ background: #f5d19b; }
table tr:nth-child(2n+1) td{ background:#16033f; }
footer{
        
    width: 100%;
    height: 40px;    
    background-color: #16033f;  
    margin:0 auto;
}
#end {
    padding:10px; 
    color: #ffee00;  
    font-style: italic;  
    font-size:20px;
    text-align: center;
}

@media screen and (min-width: 800px) and (orientation: landscape) {
    nav{
        flex-direction: row;
        justify-content: center;
    }
    #hyperlinks {
        order: 1;
    }
    #table {
        order: 2;
        margin:20px; 
    }
    #forma {
        order: 3;
        margin:20px;
    }
    footer {
        order: 4;
    }

  }
  
